@tailwind base;
@tailwind components;
@tailwind utilities;

.CRM-scroll-width-none {
  scrollbar-width: none;
}

.crm-Leadlist-kanbadn-col-list {
  scrollbar-width: thin;

}


@media (min-wdith:310px) and (max-width:768px){

  .crm-Leadlist-kanbadn-col-list {
  

}
}