@tailwind base;
@tailwind components;
@tailwind utilities;

.CRM-scroll-width-none {
  scrollbar-width: none;
}

.crm-Leadlist-kanbadn-col-list {
  scrollbar-width: thin;

}


@media (min-wdith:310px) and (max-width:768px){

  .crm-Leadlist-kanbadn-col-list {
  

}
}


@media (max-width: 800px) {
  .timesheet-responsive {
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch;
  }

  /* Prevent content from shrinking */
  .timesheet-responsive table,
  .timesheet-responsive .grid,
  .timesheet-responsive .min-w-override {
    min-width: 900px !important;
  }
}
